<%- include('basic' , {title : "Home"}) -%>


<div class="pt-5"></div>
<p class="ml-5"></p>
<div class="container">
  <div class="pt-5">
    <h1 class="text-center animated bounceInDown">This is home page</h1>
  </div>
</div>
