<%- include('basic' , {title : "Sign up"}) -%>


<div class="pt-5"></div>
<div class="container pt-5">
<form action="#" method="POST" style="max-width:500px;margin:auto">
  <h2>Register Form</h2>
  
  <div class="input-container ">
    <i class="fa fa-user icon"></i>
    <input class="input-field" type="text" placeholder="Username" name="username" id="username" autocomplete="off" pattern="[a-zA-Z0-9]+" maxlength="30" title="letters and numbers only, no punctuation or special characters" required>
  </div>

  <div class="input-container">
    <i class="fa fa-envelope icon"></i>
    <input class="input-field" type="text" placeholder="Email" name="email" id="email" autocomplete="off" maxlength="40" required>
  </div>
  
  <div class="input-container">
    <i class="fa fa-key icon"></i>
    <input class="input-field" type="password" placeholder="Password" name="password" id="password" minlength="8" required>
  </div>
  <span class="text-danger"></span>
  <div class="input-container">
    <i class="fa fa-key icon"></i>
    <input class="input-field" type="password" placeholder="re-enter your password" name="password1" required>
  </div>


  <div class="text-center pt-3">Already a member?<a href="/login" class="text-danger font-weight-bold"> Sign In</a></span></div>
  <button type="submit" class="btn btn-primary btn-lg">Register</button>

</form>
</div>
